ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0 30px 0 20px;
}

.navbar {
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  margin-left: 85px;
  margin-bottom: 50px
}

.navlink {
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0 30px 0 20px;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.navlink:hover {
	animation: bounce 1s;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
